.singlefilter{
    width: 86px;
    height: 40px;
    border-radius: 100px;
    border:none;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #F0F0F0;
    border-radius: 100px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }